extends layout

block content
	.push
	.card.login.shadow
		.card-body
			h5.card-title= title
			form(method='post', action='/profile/change-password')
				.form-group
					label Current Password
					input.form-control(type='password' name='password' require placeholder='Enter current password')
					if error_type == 'incorrect_password'
						.small.text-danger= message
				.form-group
					label New Password
					input.form-control(type='password' name='newPassword' required placeholder='Enter new password')
					if errors
						for error in errors
							if error.param=='newPassword'
								.small.text-danger= error.msg
				.form-group
					label Confirm New Password
					input.form-control(type='password' name='newPassword2' required placeholder='Must match new password')
					if error_type == 'password_match'
						.small.text-danger= message
				button.btn.btn-primary(type='submit') Change Password