extends layout

block content
	.section.login-page-section
		.card.login
			.card-body
				h5.card-title= title
				!=messages()
				form(method='post', action='/login')
					.form-group
						input.form-control(type="text" placeholder="Email Address" name="username")
					.form-group
						input.form-control(type="password" placeholder="Password" name="password")
					button.btn.btn-secondary.btn-block(type="submit") Log In
		.register-cta
			p
				a(href='/register') Create an Account
